
/* SKELETON */
.skeleton {
  position: relative;
}
.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX();
  background: linear-gradient(90deg, #fff, rgb(159 18 57), #fff);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}
@keyframes skeleton {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}
/* SKELETON */

.active::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: white;
  border-radius: 5px;
}

.slider {
  display: flex;
  align-items: center;
  width: min-content;
  height: 350px;
  margin-top: 40px;
  justify-content: center;
  column-gap: 10px;
  position: relative;
}

.slide{
  width: 180px;
  height: 250px;
  position: relative;
}
.utama {
  width: 250px;
  height: 350px;
  z-index: 5;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  position: absolute;
}
.utama img,.utama .note{
  position: absolute;
}
.utama img{
  margin-left: -60%;
  box-shadow: -77px -1px 77px 0px rgba(15,18,25,0.5);
}
.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 4;
}

.opacity-0 {
  opacity: 0;
}
.slide .note {
  width: 0px;
  height: 330px;
  transition-property: width;
  transition-duration: 300ms;
  transition-delay: 400ms;
}
.note.main{
  width: 300px;
}


.btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.note .judul-warp::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #595959;
  bottom: 0px;
  left: 0px;
}
.btn-container button {
  cursor: pointer;
  padding: 5px 8px;
}
.series_warp,.movies_warp,.search_warp{
  cursor: pointer;
}
.qualityBtn{
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 50px;
  background-color: #20B2AA;
}
.qualityBtn:active{
  background-color: #158a84;
}
#player{
  width: 100%;
  height: 100%;
}
#prev-btn,#next-btn{
  cursor: pointer;
}
.judul,.judulSearch,.judul_movie{
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sinopsis{
  height: 145px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.jdlSlide{
  color: #595959;
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sinopsis-warp,.info-warp,.judul-warp{
  color: #595959;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.pagination{
  margin-top: -30px;
  margin-bottom: 60px;
  justify-self: center;
}
  .pagination ul{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #060606;
    padding: 2px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .pagination ul li{
    color: rgb(236, 18, 80);
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  .pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
  }
  .pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots{
    font-size: 22px;
    cursor: default;
  }
  .pagination ul li.btn{
    padding: 0 10px;
    border-radius: 50px;
  }
  .pagination li.active1,
  .pagination ul li.numb:hover,
  .pagination ul li:first-child:hover,
  .pagination ul li:last-child:hover{
    color: #fff;
    background: rgb(206, 17, 70);
  }